@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

body{
    box-sizing: border-box !important;  
}

:root{
    --blue1: #3aa6ff;
    --orange1 : #ffa217;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
select option:hover{
    background-color: #3aa6ff;
}
.background-login{
    height: 100vh;
    background:linear-gradient(rgba(0, 0, 0, 0.192) , rgba(0, 0, 0, 0.151)), url(../images/login.jpg);
    background-size: cover;
    top: 0;
    left: 0;
}
.form-group input , .form-group input:focus{
    border-radius: 25px;
    background-color: transparent;
    border: 1.5px solid rgb(228, 228, 228);
    height: 49px;
    margin-bottom: 15px;
    color: var(--orange1);
    font-size: 19px;
}
.form-group input::placeholder{
    font-size: 14px;
}
.form-group input[type=submit]{
    background-color: var(--blue1);
    color: white;
    border: none;
    
}
.signin_w{
    width: calc(100% - 30px);
}
.button1{
    padding: 8px 18px;
}
.button1 a{
    background-color: var(--orange1);
    border: none;
    border-radius: 25px;
    height: 37px;
    padding: 6px 15px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.pss_frgt p{
    font-size: 14px;
    margin-left: 6px;
}
.pss_frgt p span{
    color: var(--blue1);
}
.image_profile img{
    width: 105px;
    height: 105px;
    border-radius: 50%;
}
.search{
    padding: 12px 8px;
}
.bg-blue{
    background-color: var(--blue1);
}
.search input{
    border-radius: 20px;
    background-color: transparent;
    border: 1.5px solid rgb(228, 228, 228);
    padding: 4px;
    padding-left: 6px;
    font-size: 14px;
    opacity: 0.7;
}
.search::placeholder{
    color: white;
}
.search input:focus{
    outline: none;
}
.search button{
    background-color: transparent;
    border: none;
}
.title_page h5{
    color: var(--blue1);
    font-size: 19px;
    font-weight: 400;
    margin: 0!important;
}
.title_page p{
    font-size: 13px;
}
.static{
    font-size: 19px;;
    font-weight: 500;
    margin-left: 7px;
}
.number_student{
    color: rgb(0, 255, 242);
}
.prog_student{
    background-color: rgb(0, 255, 242);
}
.number_teachers{
    color: rgb(5, 155, 255);
}
.prog_teacher{
    background-color: rgb(5, 155, 255);
}
.number_classes{
    color: rgb(134, 28, 255);
}
.prog_classes{
    background-color: rgb(134, 28, 255);
}
.number_admins{
    color: rgb(255, 148, 27);
}
.prog_admins{
    background-color: rgb(255, 148, 27);
}
.progress1{
    width: 100%;
    height: 10px;
    background-color: #dddddd5d;
    position: relative;
    border-radius: 5px;
 
}
.progress_child{
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 60% !important;
    border-radius: 5px;
}
.sidebar_responsive{
    transition: margin 0.5s ease-in-out;
    position: relative;
   
    
}
.sidebar_margin{
    padding: 1px;
    color: rgb(255, 58, 186);
}
.sidebar1{
    transition: all .5s ease-in-out;
}
.sidebar1 ul li a{
    /* font-weight: 500; */
    color: rgb(105, 105, 105);
}
.sidebar1 ul li a i{
    font-weight: 400;
    font-size: 1.2rem !important;
}
.sidebar1 ul li a:hover{
    color: var(--blue1);
}
.class_card{
    position:relative;
    overflow: hidden;
}
.graduation_icon{
    color: rgb(36, 175, 255);
    position: absolute;
    font-size: 4.5rem;
    top: -20px;
    right: 4px;
    opacity: 0.3;
}
abbr{
    text-decoration: none !important;
}
.table_students thead th{
    color: var(--blue1);
    font-size: 16px;
    font-weight: 400;
}
.table_students tbody td{
    color: rgb(105, 105, 105);
    font-size: 14px;
}
/* .card_static{
    max-width: 255px;
} */
.arrow_class button{
    transform: rotate(90deg) !important;
    color: aquamarine;
}
.table_students tbody {
    border-radius: 8px;
}
.student_modal ul{
    list-style: none;
    padding: 0;
}
.student_modal ul li{
    display: inline-block;
    padding: 10px ;
    border: 1.5px solid rgb(140, 238, 255);
    border-radius: 10px;
    background-color: transparent;
    margin-bottom: 10px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
.student_modal ul li:hover{
    transform: scale(1.02);
}
.profile-info{
    font-style: italic;
    font-size: 17px;
}

/* _____________________ */
.right-side{
    display: flex;
    flex-basis: 45%;
    background-image: url(./images/bg-green.png);
    justify-content: end;background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.left-side{
    display: flex;
    flex-basis: 50%;
}